body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: sans-serif;
    word-break: break-all;
}

.chessboard {
    display: inline-block;
    width: 90vmin;
    height: 90vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1vmin solid #013842;
    /* background-color: yellow; */
}
    .chessboard > .row {
        display: inline-block;
        width: 100%;
        height: 50%;
        float: left;
    }

      .chessboard > .row > .cell {
          display: inline-block;
          width: 50%;
          height: 100%;
          float: left;
      }
        .chessboard > .row > .cell.red {
            background-color: #AF1B0B;
        }

        .chessboard > .row > .cell.green {
            background-color: #68A20A;
        }

        .chessboard > .row > .cell.blue {
            background-color: #095C6C;
        }
